.createTask {
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  margin-top: 8px;
  background-color: #393939;
  border-radius: 12px;
  cursor: pointer;
  .newTask {
  }
  button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  flex-flow: column;
  .modalInputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  input {
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  select {
    padding: 10px 20px;
  }
  select option {
    position: fixed;
  }
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
  }
}
