.container {
  max-width: 1200px;
  margin: auto;
  padding: 0px 24px;
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;

  .tasks {
    display: flex;
    gap: 10px;
    margin: 12px 0 36px 0;
  }
  .todos {
    .recentTasks {
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-top: 14px;

      .recentTasksElements {
        padding: 10px 20px;
        border-radius: 12px;
        align-items: center;
        background-color: #393939;
        display: flex;
        gap: 20px;
      }
    }
  }
  .newTodo {
    margin-top: 14px;
  }
}
