.infoCard {
  padding: 20px 20px;
  background-color: #393939;
  border-radius: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 16px;
  p {
    color: #fff;
  }
  b {
    color: #fff;
  }
}
